<div id="<%= dom_id talk %>">
  <p>
    <strong>Title:</strong>
    <%= talk.title %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= talk.duration %>
  </p>

  <p>
    <strong>Lightning talk:</strong>
    <%= talk.lightning_talk %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= talk.session_id %>
  </p>

</div>
