<p style="color: green"><%= notice %></p>

<h1>Talks</h1>

<div id="talks">
  <% @talks.each do |talk| %>
    <%= render talk %>
    <p>
      <%= link_to "Show this talk", talk %>
    </p>
  <% end %>
</div>

<%= link_to "New talk", new_talk_path %>

<%= form_tag import_talks_path, multipart: true, style: "margin: 20px;" do %>
  <div class="field">
    <%= file_field_tag :file, accept: ".txt" %>
  </div>

  <div class="actions">
    <%= submit_tag "Import Talks" %>
  </div>
<% end %>
